<html ng-app="BlockPatent">
	<head>
		<title>Web3 Test</title>
		<script src="web3.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ethjs@0.3.0/dist/ethjs.min.js"></script>
		<script src="abi.js"></script>
		<script src="patent.js"></script>

		<!-- Angular Script -->
      	<script src="BlockPatent.js"></script>
	</head>

	<body>
		<div id='web3'>
			<span>Account: </span><span id="acct"></span><br/>
			<span>Balance: </span><span id="bal"></span><br/>
			<span>Version: </span><span id="vers"></span><br/>
		</div>
		<br/>
		<div id='app' ng-controller="BPController">
			<div>
				My Patents:
				<div ng-repeat="patent in patents">
	               {{patent}}
	            </div>
			</div>
			<div>
			</div>
			<div>
			</div>
		</div>
	</body>
</html>