<template>
  <div class="login-view">
    <h2>Account Settings</h2>
    <form action="/confirm" method="post">
    <input v-model="email" class="input" type="text" placeholder="Email" name="email">
    <br><br>
    <input v-model="name" class="input" type="text" placeholder="Name" name="name">
    <br><br>
    <input v-model="password" class="input" type="password" placeholder="Password" name="password">
    <br><br>
    <input v-model="bio" class="input" type="text" placeholder="Bio" name="bio">
    <br><br>
  <input type="submit" value="Submit">
    </form>
  </div>
</template>

<script>
</script>

<style lang="stylus">
.login-view
  background-color #fff
  box-sizing border-box
  padding 2em 3em

  h1
    margin 0
    font-size 1.5em

  input[type=submit] {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  button {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text] {
    padding:5px 15px;
    font-size 1.0em
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text]:focus {
    border-color:#333;
  }

  input[type=password] {
    padding:5px 15px;
    font-size 1.0em
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=password]:focus {
    border-color:#333;
  }

  .meta
    list-style-type none
    padding 0
  .label
    display inline-block
    min-width 4em
  .about
    margin 1em 0
  .links a
    text-decoration underline
</style>
