<template>
  <div class="allposts-view">

      <div class="post-view-header">
          <h1>View All Posts</h1>
          <br><br>
          <!-- <input type="text" v-model="search"/> -->
      </div>

      <transition name="fade" mode="out-in">
          <div class="news-list" v-if="posts.length > 0">
              <item v-for="post in posts" :key="post._id" :post="post"></item>
          </div>
      </transition>

  </div>
</template>

<script>
import Item from '../components/Item.vue'
import { mapGetters } from 'vuex'

export default {
    components: {
        Item
    },
    data () {
      return {
        search: '',
        searchResults: [],
        keys: ["post.file", "post.user", "post.date"]
      }
    },
    computed: {
      ...mapGetters('postsModule', ['posts']),
      filter:function() {
            var self=this;
            return this.posts.filter(function(post){return post.file.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
      }
    },
    methods: {
      loadPosts () {
        this.$store.dispatch('postsModule/updatePosts')
      }
    },
    watch: {
      '$route' (to, from) {
        this.loadPosts()
      }
    },
    created () {
      this.loadPosts()
    }
}
</script>

<style lang="stylus">
.post-view-header
  background-color #fff
  padding 1.8em 2em 1em
  box-shadow 0 1px 2px rgba(0,0,0,.1)
  h1
    display inline
    font-size 1.5em
    margin 0
    margin-right .5em
  .host, .meta, .meta a
    color #828282
  .meta a
    text-decoration underline

.news-view
  padding-top 45px

.news-list-nav, .news-list
  background-color #fff
  border-radius 2px

.news-list-nav
  padding 15px 30px
  position fixed
  text-align center
  top 55px
  left 0
  right 0
  z-index 998
  box-shadow 0 1px 2px rgba(0,0,0,.1)
  a
    margin 0 1em
  .disabled
    color #ccc

.news-list
  position absolute
  margin 30px 0
  width 100%
  transition all .5s cubic-bezier(.55,0,.1,1)
  ul
    list-style-type none
    padding 0
    margin 0

@media (max-width 600px)
  .news-list
    margin 10px 0
</style>
