<template>
  <div class="home-view">

    <!-- <div class="news-list-nav">
      BlockPatent
    </div> -->

    <h1>Welcome to BlockPatent</h1>
    <div class="descrip">
        <div class="row">
            <h3 class="col-8">
                BlockPatent's mission is to build the world's largest, most secure, and best supported content ownership ledger using the Ethereum blockchain.
            </h3>
            <div class="col-4">
                <div class="logo">
                    <img src="../assets/loader.gif" width=90px />
                </div>
            </div>
        </div>
    </div>

    <div class="getStarted">
        <h2>
            Getting Started
        </h2>
        <ul>
            <li>Download MetaMask</li>
            <li>Transfer Ether to your wallet</li>
            <li>Upload your content to BlockPatent</li>
        </ul>
    </div>

  </div>
</template>

<script>
    export default {}
</script>

<style lang="stylus">
.home-view
  background-color #4F101D
  box-sizing border-box
  padding 2em 3em

  h1
    margin-top .5em
    margin-bottom 0.3em
    font-size 3.0em
    text-align left
    padding-left .8em
    color #fff

  .getStarted
    background-color #fff
    box-sizing border-box
    padding 2em 2em
    margin-top 2.0em
    letter-spacing: 2px;
    line-height: 200%

    h2
      text-align center
      color #ED6C7B


  .descrip
    text-align left
    background-color #fff
    box-sizing border-box
    display: inline-block
    max-width 700px
    padding 2em 2em
    margin-top 2.0em
    letter-spacing: 2px;
    line-height: 200%

    .logo
      margin-left 4.4em
      margin-top .8em




/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

/* ==== END OF GRID SYSTEM ==== */

.news-list-nav, .news-list
  background-color #fff
  border-radius 2px

.news-list-nav
  font-size 2.0em
  padding 15px 30px
  position fixed
  text-align center
  top 55px
  left 0
  right 0
  z-index 998
  box-shadow 0 1px 2px rgba(0,0,0,.1)
  a
    margin 0 1em
  .disabled
    color #ccc

</style>
