<template>
    <div class="item-view">
        <transition name="fade" mode="out-in">
          <div class="item-view-header">
              <h1>{{ currPost.file }}</h1>
              <br><br>
              <!-- <FileViewer :filename="currPost.file" :id="currPost.fileid"></fileviewer> -->
                  <FileViewer v-if='loaded'></fileviewer>
                  <!--br-->
              <p class="meta">
                  by {{ currPost.user }} |
                  {{ currPost.date}}
              </p>
          </div>
        </transition>

      <transition name="fade" mode="out-in">
          <div class="item-view-comments">
              <p class="item-view-comments-header">
                {{ comments.length }} Comments
              </p>
              <ul class="comment-children">
                <comment v-for="comment in comments" :key="comment.date" :comment="comment"></comment>
              </ul>

              <div v-if="isAuthenticated">
                  <br><br><br><br>
                  <textarea rows="4" cols="60" v-model="commentBody" name="comment" placeholder="Enter comment here..."/>
                  <br><br>
                  <button v-on:click="pushComment()">Submit</button>
                  <br><br>
              </div>
          </div>
      </transition>

    </div>
</template>

<script>
// import axios from 'axios';
import Comment from '../components/Comment.vue';
import FileViewer from '../components/FileViewer.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'ItemView',
    components: {
        Comment,
        FileViewer
    },
        data () {
          return {
              postCommentPath: '/upload-comment/',
              fetchPath: '/item/',
              commentBody: '',
              loaded: false
          }
      },
      computed: {
        ...mapGetters('postsModule', ['posts', 'currPost', 'comments']),
        ...mapGetters(['isAuthenticated'])
      },
      methods: {
          createPath () {
              // this.fetchPath += this.currPost._id
              // this.postCommentPath += this.currPost._id
              // console.log(this.fetchPath)
              // console.log(this.postCommentPath)
              // console.log(window.location.href);
              var grabURL = window.location.href.split('/')
              grabURL = grabURL.reverse()
              var postID = grabURL[0]
              this.fetchPath += postID
              this.postCommentPath += postID
              console.log(postID);
              console.log(this.fetchPath)
              console.log(this.postCommentPath)

          },
          refresh () {
              // this.$router.push('/all')
              this.$store.dispatch('persistAuth')
          },
          loadComments () {
              console.log('hit load comments');
            this.$store.dispatch('postsModule/updateComments', this.fetchPath)
          },
          fileReady () {
              this.loaded = true
              console.log('loaded set to true');
          },
          pushComment () {
              console.log('hit pushComment func');
              var self = this;
              this.$store.dispatch('postsModule/postComment', {comment: self.commentBody, path: self.postCommentPath})
                    .then(() => {
                      this.$notify({ group: 'auth', type: 'success', text: 'Comment Successful' })
                      console.log('postComment dispatched');
                      this.$router.push('/all')
                    })
          }
      },
      watch: {
        currPost (to, from) {
          this.fileReady()
        }
      },
      created() {
          this.createPath()
          this.loadComments()
          // console.log('printing doc url')
          // console.log(document.URL)
          // axios.post(document.URL)
          // .then(response => {
          //     //JSON
          //     console.log("caught json object")
          //     this.commentS = response.data
          //     console.log(this.commentS)
          //     this.createPath()
          // })
          // .catch(e => {
          //     this.errors.push(e)
          // })
      }
}
</script>

<style lang="stylus">
.item-view-header
  background-color #fff
  padding 1.8em 2em 1em
  box-shadow 0 1px 2px rgba(0,0,0,.1)
  h1
    display inline
    font-size 1.5em
    margin 0
    margin-right .5em
  .host, .meta, .meta a
    color #828282
  .meta a
    text-decoration underline

.item-view-comments
  background-color #fff
  margin-top 10px
  padding 0 2em .5em

  input[type=submit] {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  button {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  textarea {
    padding:5px 15px;
    font-size 1.0em
    border:2px solid #ccc;
    color #4F101D;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  textarea:focus {
    border-color:#ccc;
  }

.item-view-comments-header
  margin 0
  font-size 1.1em
  padding 1em 0
  position relative
  .spinner
    display inline-block
    margin -15px 0

.comment-children
  list-style-type none
  padding 0
  margin 0

@media (max-width 600px)
  .item-view-header
    h1
      font-size 1.25em
</style>
