<template>
  <div class="login-view" v-if="!isAuthenticated">
    <h2>Login to BlockPatent</h2>
    <input v-model="email" class="input" type="text" placeholder="Email" name="email">
    <br><br>
    <input v-model="password" class="input" type="password" placeholder="Password" name="password">
    <br><br>
    <button v-on:click="login()">Login</button>
  </div>
  <div class="login-view" v-else>
    <h2>Logout of BlockPatent</h2>
    <br><br>
    <button v-on:click="logout()">Logout</button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data () {
      return {
        email: '',
        password: ''
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated'])
    },
    methods: {
      logout () {
          this.$store.dispatch('logout')
                .then(() => {
                  this.$cookies.remove("email");
                  this.$notify({ group: 'auth', type: 'success', title: 'Logout Successful', text: 'Thanks for using BlockPatent!' })
                  console.log('logout dispatched');
                })
       },
      login () {
          console.log('hit login func');
          if (this.email != '' && this.password != '') {
              this.$store.dispatch('login', {email: this.email, password: this.password})
                    .then(() => {
                      console.log('login dispatched');
                      if ( this.$cookies.isKey("email") ) {
                          this.$store.dispatch('reAuth')
                          this.$notify({ group: 'auth', type: 'success', title: 'Login Successful', text: 'Please enjoy BlockPatent!' })
                          this.$router.push('/myposts')
                      } else {
                          this.$store.dispatch('unAuth')
                          this.$notify({ group: 'auth', type: 'error', title: 'Incorrect Login', text: 'Your email or password are not correct' })
                      }
                    })
          } else {
              this.$notify({ group: 'auth', type: 'error', title: 'Fields Empty', text: 'Please enter in email and password' })
          }
        }
    }
}
</script>

<style lang="stylus">
.login-view
  background-color #fff
  box-sizing border-box
  padding 2em 3em

  h1
    margin 0
    font-size 1.5em

  input[type=submit] {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  button {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text] {
    padding:5px 15px;
    font-size 1.0em
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text]:focus {
    border-color:#333;
  }

  input[type=password] {
    padding:5px 15px;
    font-size 1.0em
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=password]:focus {
    border-color:#333;
  }

  .meta
    list-style-type none
    padding 0
  .label
    display inline-block
    min-width 4em
  .about
    margin 1em 0
  .links a
    text-decoration underline
</style>
