<template>
  <div class="register-view" v-if="!isAuthenticated">
    <h2>Create an Account for BlockPatent</h2>
    <input v-model="name" class="input" type="text" placeholder="Name" name="name">
    <br><br>
    <input v-model="email" class="input" type="text" placeholder="Email" name="email">
    <br><br>
    <input v-model="password" class="input" type="password" placeholder="Password" name="password">
    <br><br>
    <input v-model="address" class="input" type="text" name="address">
    <br><br>
    <button v-on:click="register()">Register</button>
  </div>
  <div class="register-view" v-else>
    <h2>You are already logged into BlockPatent</h2>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import web3Service from '../web3.service';

export default {
    data () {
      return {
        name: '',
        email: '',
        password: '',
        address: web3Service.getAddress()
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated'])
    },
    methods: {
      register () {
          console.log('hit register func');
          var self = this;
          if (this.email != '' && this.password != '') {
              this.$store.dispatch('register', {name: self.name, email: self.email, password: self.password, address: self.address})
                    .then(() => {
                      console.log('register dispatched');
                      if ( this.$cookies.isKey("email") ) {
                          this.$store.dispatch('reAuth')
                          this.$notify({ group: 'auth', type: 'success', title: 'Register Successful', text: 'Please enjoy BlockPatent!' })
                          this.$router.push('/all')
                      } else {
                          this.$store.dispatch('unAuth')
                          this.$notify({ group: 'auth', type: 'error', title: 'Already a User', text: 'Please login with your credentials to use BlockPatent' })
                      }
                    })
           } else {
               this.$notify({ group: 'auth', type: 'error', title: 'Fields Empty', text: 'Please enter in name, email, and password' })
           }
        }
    }
}
</script>

<style lang="stylus">
.register-view
  background-color #fff
  box-sizing border-box
  padding 2em 3em

  h1
    margin 0
    font-size 1.5em

  input[type=submit] {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#EFB4CA;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text] {
    padding:5px 15px;
    font-size 1.0em
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text]:focus {
    border-color:#333;
  }

  input[type=password] {
    padding:5px 15px;
    font-size 1.0em
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=password]:focus {
    border-color:#333;
  }

  button {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .meta
    list-style-type none
    padding 0
  .label
    display inline-block
    min-width 4em
  .about
    margin 1em 0
  .links a
    text-decoration underline
</style>
