<template>
  <div class="upload-view">
    <div v-if="isAuthenticated">
        <h2>Upload a File to BlockPatent</h2>
        <form action="/upload-post" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Title" name="title">
            <br><br>
            <input :change='file' type="file" name="upload" ref="files"
            @change="checkUpload">
            <!--br><br>
            <input type="button" value="Check"
            v-on:click="checkUpload"-->
            <br><br>
            <hashcheck></hashcheck>
            <br><br>
            <input type="radio" id="one" value="public" name="type" v-model="type">
            <label for="one">Public</label>
            <br>
            <input type="radio" id="two" value="private" name="type" v-model="type">
            <label for="two">Private</label>
            <br><br>
            <input type="submit" value="Upload" v-on:click="pushPost()">
        </form>
    </div>
    <div v-else>
        <h2>Please Login to Upload a File to BlockPatent</h2>
    </div>
  </div>
</template>

<script>
import sha256 from 'sha256'
import { mapGetters, mapActions } from 'vuex'

import hashcheck from '../components/HashCheck.vue'

export default {
    components: {
      hashcheck
    },
    data() {
        return {
            type: '',
            file: ''
        }
    },
    computed: {
      ...mapGetters(['isAuthenticated']),
      ...mapGetters('web3Module', ['data'])
    },
    methods: {
        pushPost () {
            var hash = sha256(this.$store.state.web3Module.hash)
            var ox = '0x'
            var newHash = ox + hash
            console.log(newHash)
            this.$notify({ group: 'auth', type: 'success', text: 'Upload Post Successful' })
            this.$store.dispatch( 'web3Module/submitPost', newHash)
            console.log('pushPost dispatched')
        },
        checkUpload() {
          var promise = new Promise((resolve) => {
            var x = new XMLHttpRequest();
          x.open("GET", window.URL.createObjectURL(this.$refs.files.files[0]));
          x.send();
          x.onreadystatechange = function() {//Call a function when the state changes.
            if(x.readyState == XMLHttpRequest.DONE && x.status == 200) {
              // Request finished. Do processing here.
              var data = x.response;
              console.log(data);
              resolve(data);
            }
            }
          });
          promise.then(result => {
            this.$store.dispatch('web3Module/changeData', result);
          });
        }
    }
}
</script>

<style lang="stylus">
.upload-view
  background-color #fff
  box-sizing border-box
  padding 2em 3em

  h1
    margin 0
    font-size 1.5em

  input[type=submit], input[type=button] {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  button {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text] {
    padding:5px 15px;
    font-size 1.0em
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text]:focus {
    border-color:#333;
  }

  .meta
    list-style-type none
    padding 0
  .label
    display inline-block
    min-width 4em
  .about
    margin 1em 0
  .links a
    text-decoration underline
</style>
