<template>
  <div class="upload-view">
    <div>
        <h2>Verify a File with BlockPatent</h2>
        <!-- <form action="/upload-post" method="post" enctype="multipart/form-data"> -->
            <input :change='file' type="file" name="upload">
            <br><br>
            <input type="submit" value="Check" v-on:click="checkHash()">
            <br><br>
            <h4> {{ hash }} </h4>
        <!-- </form> -->
    </div>
  </div>
</template>

<script>
import sha256 from 'sha256'
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            file: '',
            hash: ''
        }
    },
    computed: {
      ...mapGetters(['isAuthenticated'])
    },
    methods: {
        checkHash () {
            var rawhash = sha256(this.file)
            var ox = '0x'
            this.hash = ox + rawhash
            console.log(this.hash);
        }
    }
}
</script>

<style lang="stylus">
.upload-view
  background-color #fff
  box-sizing border-box
  padding 2em 3em

  h1
    margin 0
    font-size 1.5em

  input[type=submit] {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  button {
    padding:5px 15px;
    font-size 1.0em
    color #fff
    background:#B53856;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text] {
    padding:5px 15px;
    font-size 1.0em
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text]:focus {
    border-color:#333;
  }

  .meta
    list-style-type none
    padding 0
  .label
    display inline-block
    min-width 4em
  .about
    margin 1em 0
  .links a
    text-decoration underline
</style>
