<template>
  <div class="audioviewer">
    <audio controls style="width:100%;">
      <source :src="src" :type="mimetype">
      Your browser does not support the audio element.
    </audio>
  </div>
</template>

<script>
export default {
  name: 'AudioViewer',
  props: ['filename', 'id', 'ext'],
  data () {
    var src =  "/uploads/"+this.id+"/"+this.filename;
    if (this.ext == "mp3") {
      return {
        src: src,
        mimetype: "audio/mpeg"
      }
    }
  }
}
</script>

<style lang="stylus">
</style>
