<template>
  <div class="codeviewer">
    <pre style="white-space:pre-wrap;">
      <span v-for="line in code">
        {{ line }}
      </span>
    </pre>
  </div>
</template>

<script>
import appService from '../app.service'

export default {
  name: 'TxtViewer',
  props: ['filename', 'id'],
  data () {
    appService.textFile(this.id, this.filename).then((data) => {
      this.code = data.split('\n');
      /*this.code.forEach((currentValue, index, array) => {
        array[index] = array[index].slice(0, -1);
        console.log(array[index]);
      });*/
    });

    return {
      code: this.code
    }
  }
}
</script>

<style scoped>
pre {
  background: #303030;
  color: #f1f1f1;
  padding: 10px 16px;
  border-radius: 2px;
  border-top: 4px solid #0000ff;
  #-moz-box-shadow: inset 0 0 10px #000;
  #box-shadow: inset 0 0 10px #000;
  counter-reset: line;
}
pre span {
  display: block;
  #line-height: .5rem;
}
pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  #margin-right: .5em;
  color: #888;
  #line-height: 1.5rem;
}
</style>
