<template>
  <div class="comment">
    <div class="by">
      {{ comment.user }}
      | {{ comment.date}} |
    </div>
    <div class="text">
        {{ comment.comment}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Comment',
  props: ['comment'],
  data () {
    return {
        commenT: {
              title: 'Jigglypuff Express Train',
              score: 69,
              password: 'Password',
              by: 'Ash',
              time: '4 hours',
              descendants: '35'
          }
    }
  }
}
</script>

<style lang="stylus">
.comment-children
  .comment-children
    margin-left 1.5em

.comment
  border-top 1px solid #eee
  position relative
  .by, .text, .toggle
    font-size .9em
    margin 1em 0
  .by
    color #828282
    a
      color #828282
      text-decoration underline
  .text
    overflow-wrap break-word
    a:hover
      color #ff6600
    pre
      white-space pre-wrap
  .toggle
    background-color #fffbf2
    padding .3em .5em
    border-radius 4px
    a
      color #828282
      cursor pointer
    &.open
      padding 0
      background-color transparent
      margin-bottom -0.5em
</style>
