<template>
  <div class="fileviewer">
    <component :is="type" :filename="currPost.file" :id="currPost.fileid" :ext="ext"/>
    <br>
    <HashCheck></HashCheck>
  </div>
</template>

<script>
import appService from '../app.service';
import web3Service from '../web3.service';

import ImgViewer from './ImgViewer.vue';
import AudioViewer from './AudioViewer.vue';
import TxtViewer from './TxtViewer.vue';
import CodeViewer from './CodeViewer.vue';

import HashCheck from './HashCheck.vue';

import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'FileViewer',
  props: ['filename', 'id'],
  components: {
    HashCheck
  },
  data () {
    return {
      type: null,
      ext: null
    }
  },
  computed: {
    ...mapGetters('postsModule', ['currPost']),
    ...mapGetters('web3Module', ['data']),
    ...mapGetters('web3Module', ['hash']),
    ...mapGetters('web3Module', ['owner']),
    ...mapGetters('web3Module', ['free'])
  },
  methods: {
      switchNcatch () {
          console.log('hit switchNcatch');
          this.ext = this.currPost.file.split('.')[1];

          if (this.ext == "png" || this.ext == "jpg" || this.ext == "jpeg"
          || this.ext == "gif" || this.ext == "bmp"){
            this.type = ImgViewer;
          } else if (this.ext == "mp3") {
            this.type = AudioViewer;
          } else if (this.ext == "txt") {
            this.type = TxtViewer;
          } else if (this.ext == "py" || this.ext == "sol") {
            this.type = CodeViewer;
          }

          //this.hash = '';
          appService.getFile(this.currPost.fileid, this.currPost.file)
          .then((result) => {
            this.$store.dispatch('web3Module/changeData', result.data);
          });
/*          web3Service.hashFile(this.currPost.fileid, this.currPost.file)
          .then((data) => {
            this.hash = data;
            console.log(this.hash);
          });

          console.log(this.hash);*/
      }
  },
  created() {
      this.switchNcatch()
  }
}
</script>

<style lang="stylus" scoped>
</style>
