<template>
  <div class="hashcheck">
    <span>Hash: 0x{{hash}}
      <!--span style="color: green;" v-if="free">&#10004;</span>
      <span style="color: red;" v-if="free">&#10006;</span-->
      <br>
      <span v-if="free">Free</span>
      <span v-else>
      Owner: 0x{{owner}}</span>
    </span>
  </div>
</template>

<script>
import sha256 from 'sha256';
import web3Service from '../web3.service';

import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'hashcheck',
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters('postsModule', ['currPost']),
    ...mapGetters('web3Module', ['data']),
    ...mapGetters('web3Module', ['hash']),
    ...mapGetters('web3Module', ['owner']),
    ...mapGetters('web3Module', ['free'])
  },
  methods: {
  },
  created() {
  }
}
</script>

<style lang="stylus" scoped>
.hashcheck {
  border: solid 1px black;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
}
</style>
