<template>
  <div class="imgviewer bg">
    <img :src="src" style="max-width:400px;
      margin-left:auto;
      margin-right:auto;
      display:block;">
  </div>
</template>

<script>
export default {
  name: 'ImgViewer',
  props: ['filename', 'id'],
  data () {
    return {
      src: "/uploads/"+this.id+"/"+this.filename
    }
  }
}
</script>

<style lang="stylus">
.bg {
  background-color: #eee;
}
</style>
