<template>
  <div class="news-item">
    <span class="score">
        <img src="../assets/file-icon.svg" width="40px"/>
    </span>
    <span class="title">
        <router-link :to="{path: '/item/' + post._id}"> {{ post.file }} </router-link>
    </span>
    <br>
    <span class="meta">
      <span class="by">
        by {{ post.user }}
      </span>
      <span class="time">
        | {{ post.date }}
      </span>
      <span class="comments-link">
        | <router-link :to="{path: '/item/' + post._id}"> Comments </router-link>
      </span>
    </span>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Item',
  props: ['post'],
  data() {
      return {
          downloadPath: '/download/'
      }
  },
  computed: {
    ...mapGetters('postsModule', ['posts'])
  },
  methods: {
    savePost () {
      this.$store.dispatch('postsModule/loadCurrPost', this.post)
    },
    downloadPost () {
      this.$store.dispatch('postsModule/fetchFile', this.downloadPath)
    },
    createPath () {
        this.downloadPath += this.post.fileid
        console.log(this.downloadPath);
    }
  },
  created() {
      this.createPath()
  }
}
</script>

<style lang="stylus">
.news-item
  background-color #fff
  padding 20px 30px 20px 80px
  border-bottom 1px solid #eee
  position relative
  line-height 20px
  .score
    color #B53856
    font-size 1.3em
    font-weight 700
    position absolute
    top 50%
    left 0
    width 80px
    text-align center
    margin-top -20px
    .upvote
      color #B53856
      background none
      border none
      margin-bottom 5px
    .downvote
      color #B53856
      background none
      border none
      margin-top 5px
      margin-right 4px
  .meta, .host
    font-size .85em
    color #828282
    a
      color #828282
      text-decoration underline
      &:hover
        color #B53856
</style>
