<template>
  <div class="pngviewer">
    <img :src="src"/>
  </div>
</template>

<script>
import PngViewer from '../components/PngViewer.vue';

export default {
  name: 'FileViewer',
  props: ['filename', 'id'],
  data () {
    return {
      src: "/uploads/"+this.id+"/"+this.filename
    }
  }
}
</script>

<style lang="stylus">
.comment-children
  .comment-children
    margin-left 1.5em
</style>
