html, body {
	height: 100%;
}

body {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	background-color: #fffff8;
}

.main {
	display: table;
	width: 100%;
	height: 84%;
	background-color: #fffff8;
}

.sidebar, .content {
	display: table-cell;
}

.sidebar {
	color: #606060;
	width: 150px;
	padding: 10px;
	border-right: 1px solid #f0f0f0;
}

.sidebar div {
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-bottom: 1px solid #f0f0f0;
}
.sidebar div:last-child {
	border-bottom: 0px solid #f0f0f0;
}
.selected {
	font-weight: bold;
}

.content {
	text-align: center;
}

.header {
	float: none;
	padding: 10px 30px 10px 30px;
	/*text-align: center;*/
}

.footer {
	float: none;
	color: #606060;
	text-align: center;
	line-height: 30px;
	height: 30px;
	font-size: 10pt;
	bottom: 0px;
	width: 100%;
}

.logo {
	color: #664488;
	font-weight: bold;
	font-size: 24pt;
}

.acctinfo {
	color: #606060;
	font-size: 10pt;
	float: right;
	line-height: 5px;
}

h1 {
	font-size: 16pt;
}

input[type=text] {
	border-style: none;
	background-color: #f8f8f8;
}