<!DOCTYPE html>
<html>
   <head>
      <meta charset = "UTF-8">
      <title>Hello World!</title>
      <link rel="stylesheet" type="text/css" href="index.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.6/angular-sanitize.js"></script>
      <script src="BlockPatent.js"></script>

      <script>
         document.addEventListener("keydown", function (e) {
            if (e.which === 123) {
               require('remote').getCurrentWindow().toggleDevTools();
            }
         });
      </script>
   </head>
   
   <body ng-app="BlockPatent" controller="BPController">
      <div id="header" class="header">
         <span class="logo">BlockPatent</span>
         <div class='acctinfo'>
            <p>Your address:</p>
            <p>Your balance:</p>
         </div>
      </div>
      
      <div id="main" class="main"
            ng-controller="TabController">
         <div id="sidebar" class="sidebar">
            <div ng-repeat="tab in tabs" class={{tab.className}}
               ng-click="tabClick(tab.index)">
               {{tab.name}}
            </div>
         </div>

         <div id="content" class="content">
            <div ng-if="isSelected(-1)">
                  <h1>BlockPatent Client</h1>
                  <p>This is the Desktop App for BlockPatent.</p>
            </div>
            <div ng-if="isSelected(0)">
               <h1>Create Account</h1>
               <p>This functionality is currently not supported.</p>
            </div>
            <div ng-if="isSelected(1)">
               <h1>Create BlockPatent</h1>
               <div ng-controller="SubmitController">
                  <p>Choose your file:
                     <button ng-click ="openDialog()">Choose File</button>
                     <span ng-bind="fileName"></span>
                  </p>
                  <p>
                     <button ng-click="hashFile()">Hash</button>
                     <input type='text' ng-model="hashValue"/>
                  </p>
               </div>
            </div>
         </div>
      </div>

      <div id="footer" class="footer">
         <span>Copyright © 2017 Jack Bonaguro</span>
      </div>
   </body>
</html>