<template>
	<div id="app">

      <header class="header">
        <nav class="inner">
		  <router-link to="/" exact>
          	<img class="logo" src="../assets/logo.svg" alt="logo" width="48px"/>
          </router-link>
          <router-link to="/home">Home</router-link>
		  <router-link to="/verify">Verify</router-link>
          <router-link to="/all">All</router-link>
          <router-link to="/account">Account</router-link>



          <router-link to="/myposts">
			  <span v-if="isAuthenticated">My Posts</span>
		  </router-link>

          <router-link to="/login" class="pushRight">
			  <span v-if="!isAuthenticated">Login</span>
			  <span v-on:click="logout()" v-else>Logout</span>
		  </router-link>
          <router-link to="/register" class="pushRight">
			  <span v-if="!isAuthenticated">Register</span>
		  </router-link>
		  <router-link to="/upload" class="pushRight">
			  <span v-if="isAuthenticated">Upload</span>
		  </router-link>
        </nav>
      </header>

    <transition name="fade" mode="out-in">
      <router-view class="view"></router-view>
    </transition>

	<notifications group="auth" position="bottom right"/>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
	computed: {
		...mapGetters(['isAuthenticated'])
	},
	methods: {
      logout () {
		  console.log('printing cookies');
		  console.log(this.$cookies.keys());
          this.$store.dispatch('logout')
                .then(() => {
				  this.$cookies.remove("email")
				  this.$notify({ group: 'auth', type: 'success', title: 'Logout Successful', text: 'Thanks for using BlockPatent!' })
                  console.log('logout dispatched');
                })
       },
	   checkAuth () {
		   console.log('checking cookies');
		   if ( this.$cookies.isKey("email") ) {
			   this.$store.dispatch('reAuth')
	                 .then(() => {
	                   console.log('reAuth dispatched');
	                 })
		   } else {
			   console.log('no session found');
		   }
	   }
   },
   created () {
	 this.checkAuth()
   }
}
</script>

<style lang="stylus">
body
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size 15px
  background-color lighten(#2A060D, 0%)
  background-image: url(../assets/topography.svg)
  margin 0
  padding-top 55px
  color #34495e
  overflow-y scroll

a
  color #34495e
  text-decoration none

.header
  background-color #4F101D
  position fixed
  z-index 999
  height 55px
  top 0
  left 0
  right 0
  .inner
    max-width 800px
    box-sizing border-box
    margin 0px auto
    padding 15px 5px
  a
    color rgba(255, 255, 255, .8)
    line-height 24px
    transition color .15s ease
    display inline-block
    vertical-align middle
    font-weight 300
    letter-spacing .075em
    margin-right 1.8em
    &:hover
      color #fff
    &.router-link-active
      color #fff
      font-weight 400
    &:nth-child(6)
      margin-right 0
  .pushRight
    float right
    padding 0px 0px 0px 24px

.logo
  width 24px
  margin-right 10px
  display inline-block
  vertical-align middle

.view
  max-width 1000px
  margin 0 auto
  position relative

.fade-enter-active, .fade-leave-active
  transition all .2s ease

.fade-enter, .fade-leave-active
  opacity 0

@media (max-width 860px)
  .header .inner
    padding 15px 30px

@media (max-width 600px)
  .header
    .inner
      padding 15px
    a
      margin-right 1em
    .pushRight
      display none
</style>
